<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <style>
        body {
            margin-left: 35%;
            margin-top: 20%;
        }</style>
    <title>submission result</title>
</head>
<body>
<h1>Welcome to HANGMAN!</h1>
<h2>Enter a new letter to continue playing</h2>
<form action="#" th:action="@{/nextLetter}" method="POST">
    <input type="hidden" th:value="${hangmanGame.id}" name="hangmanGameId">
    <input type="text" name="nextLetter" maxlength="1" placeholder="Next letter" class="form-control mb-4 col-4">
    <div th:text="${hangmanGame.guess}"></div>
    <button type="submit" class="btn btn-info col-2"> submit</button>
</form>

</body>
</html>